<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>uy.tsig.grupo12.servlets.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pruebas</servlet-name>
        <servlet-class>uy.tsig.grupo12.servlets.Pruebas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarCliente</servlet-name>
        <servlet-class>uy.tsig.grupo12.servlets.RegistrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>uy.tsig.grupo12.servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarPunto</servlet-name>
        <servlet-class>uy.tsig.grupo12.servlets.RegistrarPunto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresarPromocion</servlet-name>
        <servlet-class>uy.tsig.grupo12.servlets.IngresarPromocion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegInfoTorneos</servlet-name>
        <servlet-class>uy.tsig.grupo12.servlets.RegInfoTorneos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarResultado</servlet-name>
        <servlet-class>uy.tsig.grupo12.servlets.RegistrarResultado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarComentario</servlet-name>
        <servlet-class>uy.tsig.grupo12.servlets.RegistrarComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>uy.tsig.grupo12.servlets.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pruebas</servlet-name>
        <url-pattern>/Pruebas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarCliente</servlet-name>
        <url-pattern>/RegistrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarPunto</servlet-name>
        <url-pattern>/registrarPunto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresarPromocion</servlet-name>
        <url-pattern>/IngresarPromocion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegInfoTorneos</servlet-name>
        <url-pattern>/RegInfoTorneos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarResultado</servlet-name>
        <url-pattern>/RegistrarResultado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarComentario</servlet-name>
        <url-pattern>/RegistrarComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
